<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
$(document).ready(function() {
	$.ajax ({
		url: "/myPage",
		method: "post",
		contentType: "application/json; charset=UTF-8",
		success: function(data) {
			$("#user-id").val(data.userId);
			$("#user-nick").val(data.userNick);
			$("#user-phone").val(data.userPhone);
			$("#user-addr").val(data.userAddr);
		},
		error: function() {
			alert("데이터를 불러오는데 실패함");
		}
	});
	
	$(".btn-delete").on("click", function() {
		
		var arr = [];
		var orders = $(".order-no");
		
		for (var i = 0; i < orders.length; i++) {
			arr[i] = $(orders[i]).text();
		}
		
		$.ajax({
			url: "/clear",
			type: "DELETE",
			data: {no : arr},
			success: function(data) {
				if (data == "success") {
					alert("게산이 완료되었습니다.");
					location.href="/main";
				}
				else {
					alert("계산 중 오류가 발생했습니다.");
				}
			},
			error: function() {
				alert("dddd");
			}
		});
		
// 		var no = $(this).children("span").text();
// 		var frm = $("#frm")[0];
// 		var formData = new FormData(frm);
// 		var no= [];
// 		no=arr;
// 		formData.append("no", arr);
// 		formData.get("no");
// 		console.log(no);
// 		frm.action = "/clear"
// 		frm.submit();
	});
});
</script>
	

</head>
<body>
	<header>
		<!-- 네비게이션-->
		<div class="container">
			<nav class="navbar navbar-expand-sm navbar-light px-5" style=" background:#f0f0f5;">
				<a href="/main" class="navbar-brand text-muted">T3</a>
				<div class="ms-auto">
					<a th:if="${session.userId} == null" href="/login" style="text-decoration:none" class="pe-3">로그인</a>
					<a th:if="${session.userId} != null" href="/logout" style="text-decoration:none">로그아웃</a>
					<a th:if="${session.userId} == null" href="/join" style="text-decoration:none">회원가입</a>
				</div>
			</nav>
			<!-- 네비게이션 2 -->
			<!-- offcanvas -->
			<nav class="navbar navbar-light border-bottom px-5">
			  <div class="container-fluid">
			    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			      <div class="offcanvas-header">
			        <h5 class="offcanvas-title ps-5" id="offcanvasNavbarLabel">카테고리</h5>
			        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			      </div>
			      <div class="offcanvas-body">
				       <ul class="navbar-nav justify-content-end flex-grow-1 ps-5">
				          <li class="nav-item">
				          		<a class="nav-link active" aria-current="page" href="/main">Home</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/ko">한식</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/we">양식</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/jp">일식</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/ch">중식</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/snack">야식</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="/shopList/de">디저트</a>
				          </li>
			        	</ul>
			    	</div>
			    </div>
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<h2><a href="/main" class="nav-link text-muted active ms-3">TEAM3</a></h2>
					</li>
				</ul>
				<!-- 마이페이지, 장바구니 -->
				<div class="ms-auto" th:if="${session.userId} != null">
					<div class="p-3">
						<a href="/myPage"><img src="c:/image/main/user.png" th:src="@{/main/user.png}" style="width: 50px; height: 50px;" class="me-2" ></a>
						<a href="/basketPaging"><img src="c:/image/main/cart.png" th:src="@{/main/cart.png}" style="width: 50px; height: 50px;" class="ms-4"></a>
					</div>
					<div>
						<a href="/myPage" style="text-decoration:none" class="pe-3">마이페이지</a>
						<a href="/basketPaging" style="text-decoration:none">장바구니</a>
					</div>
				</div>
				<div class="ms-auto" th:unless="${session.userId} != null">
				</div>
			</div>
			</nav>	
		</div>	
	</header>

	<main>
		<div class="container p-5 ">
			<!-- <div class="border-top border-bottom my-3 ps-3 py-2 text-muted" style=" background:#f0f0f5;">
					<h1>Order List</h1>
				</div> -->
				<div id="items" class="border p-5 shadow p-3 mb-5 bg-white rounded" style="border-radius: 40px;">
					<div class="my-3 clearfix">
						<div class="container p-5 bg-secondary bg-opacity-25 text-center">
							<h1 class="text-center">주문 제품 리스트</h1>
						</div>
						<div class="row">
							<div class="col-sm-7">
								<div class="my-3">
									<input type="text" class="form-control" id="user-nick" name="userNick" placeholder="닉네임" readonly>
								</div>
								<div class="my-3">
									<textarea rows="5" class="form-control" id="user-addr" name="userAddr" placeholder="주소를 입력하세요"></textarea>
								</div>
								<div class="my-3">
									<input type="text" class="form-control" id="user-phone" name="userPhone" placeholder="전화번호" readonly>
								</div>
							</div>
							<div class="col-sm-5">
								<form id="frm" method="post">
								<div class="my-3 d-grid gap-2">
									<table class="table table-hover table-striped">
										<colgroup>
											<col width="60%" />
											<col width="40%" />
										</colgroup>
										<thead>
											<tr>
												<th>메뉴</th>
												<th>가격</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.size(prices)} > 0" th:each="list : ${prices}">
												<td th:text="${list.no}" class="d-none order-no"></td>
												<td th:text="${list.shopMenu}"></td>
												<td th:text="${list.shopMprice} + ' 원'"></td>
											</tr>
										</tbody>
									</table>	
									<button type="button" class="btn btn-primary btn-delete" >계산하기</button>
									<!-- <script>
										function alertDialogBox() {
											alert("게산이 완료되었습니다.")
										}
									</script> -->
									<input type="hidden" id="method" name="_method">
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>