<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Login</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
	html,
	body {
		height: 100%;
	}
	
	main {
		justify-content: center;
		align-items: center;
	}
	
</style>

<script>
$(document).ready(function() {
	
	var author =$("#authority-u").val();
	
	$("#authority-u").on("click", function() {
		author =$("#authority-u").val();
	});
	
	$("#authority-m").on("click", function() {
		author =$("#authority-m").val();
	});
	
//	비밀번호 입력후 엔터키 입력시 Sign up 버튼 클릭
	$("#user-pw").keypress(function(event){
		if(event.which == 13) {
			$("#btn-submit").click();
			return false;
		}
	});
	
	$("#btn-submit").on("click", function() {
		var id = $("#user-id").val();
		var pw = $("#user-pw").val();
		
		if(id=="" || pw=="" ) {
			alert("필수정보를 모두 입력해주세요");
		} else {
			$.ajax({
				url: "/login/loginCheck",
				method: "post",
				contentType: "application/json; charset=UTF-8",
				data: JSON.stringify({userId: id, userPw: pw, userAuthority: author}),
				success: function(data) {
					if(data == 1) {
						alert("로그인에 성공했습니다.");
						location.href="/main";
					} else {
						alert("로그인에 실패했습니다.")
					}
				}, error: function() {
					alert("존재하지 않는 계정입니다.");
				}
				
			});
		}
	});
	
});
</script>

</head>

<body>
	<header>
		<!-- 네비게이션 1-->
		<div class="container">
			<nav class="navbar navbar-expand-sm navbar-light px-5" style=" background:#f0f0f5;">
				<a href="/main" class="navbar-brand text-muted">T3</a>
			</nav>
			<!-- 네비게이션 2 -->
			<!-- offcanvas -->
			<nav class="navbar navbar-light border-bottom px-5">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
					<span class="navbar-toggler-icon"></span>
					</button>
				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title ps-5" id="offcanvasNavbarLabel">카테고리</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 ps-5">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/main">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/ko">한식</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/we">양식</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/jp">일식</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/ch">중식</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/snack">야식</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/shopList/de">디저트</a>
							</li>
						</ul>
					</div>
				</div>
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<h2><a href="/main" class="nav-link text-muted active ms-3 pt-2">TEAM3</a></h2>
					</li>
				</ul>
			</div>
			</nav>	
		</div>	
	</header>
	
	<main class="container py-5">
		<div class="row my-5">
			<div class="col-sm-6 mx-auto">
				<h2 class="my-3">로그인</h2>
				<form>
					<div class="row my-2">
						<div class="col-sm-3">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="authority" id="authority-u" checked th:value="user">
								<label class="form-check-label" for="authority">사용자</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="authority" id="authority-m" th:value="manager">
								<label class="form-check-label" for="authority">사업자</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-floating my-2">
								<input type="text" class="form-control" id="user-id" name="userId" placeholder="아이디">
								<label for="user-id" class="form-label">아이디</label>
							</div>
							<div class="form-floating my-2">
								<input type="password" class="form-control" id="user-pw" name="userPw" placeholder="비밀번호">
								<label for="user-pw" class="form-label">비밀번호</label>
							</div>
						</div>
						
						<div class="col-sm-4 my-2 d-grid">
							<!-- 나중에 form태그 및 button타입 수정 필요 -->
							<button class="w-50 btn btn-lg btn-primary" id="btn-submit" type="button">Sign in</button>
						</div>
					</div>
				</form>
				
				<div class="mt-4 mb-5">
					<a href="/join">회원가입을 원한다면 이곳을 클릭해주세요.</a>
					
					<!-- 세션 유무 및 권한 확인 예시 -->
					<!-- 
					<h2 th:if="${session.userId} != null">세션있음</h2><br/>
					<h2 th:if="${session.userId} == null">세션없음</h2><br/>
					<h2 th:if="${session.authority} == 'user'">권한: user</h2>
					<h2 th:if="${session.authority} == 'manager'">권한: manager</h2>
					 -->
				</div>
			</div>
		</div>
	</main>
	
	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>